.container{
    display: flex;
    flex-direction: column;
    height: 80vh;
}
.subContainer{
    position: relative;
    display: flex;
    margin-top: 50px;
    align-items: start;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 90%;
    align-items: center;
    gap: 50px;
    border: #663399 1px solid;
    box-shadow: #663399 0px 0px 5px;

}
.h2Ranking{
    display: flex;
    padding: 10px;
    height: 150px;
    color: aliceblue;
    justify-content: center;
    font-size: 3rem;
    width: 100%;
    background-color: #663399;
}
.containerGraficoEmoti{
    display: flex;
    flex-direction: column;

    
    
    
    
    
}
.containerGrafico{
    width: 900px;
    flex-wrap: wrap;
    
}
.containerRanking{
    flex-wrap: wrap;
    display: flex;
    
    
    
}

.emojiWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-end;
    height: 300px; /* Altura fixa para o wrapper */
    width: 200px; /* Largura fixa */
    font-weight: bold;
}

.emoti {
    display: flex;
    padding: 15px;
    align-items: center;
}
.bar {
    border-radius: 5px 5px 0 0;
    height: 100px;
    min-width: 200px;
    background-color: #663399;
}

.bar2 {

    height: 150px;
    min-width: 200px;
    background-color: #663399;
}

.bar3 {

    height: 50px;
    min-width: 200px;
    background-color: #663399;
}



.ranking {
    color: #fff;
    padding: 15px;
    text-align: center;
    width: 250px;
    font-size: 2rem;
    background-color: #663399;
}


/*animacao*/
.animation1 {

    animation: upDown 500ms ease-out infinite alternate;
}

.animation2 {

    animation: upDown 600ms ease-out infinite alternate;
}

.animation3 {

    animation: upDown 300ms ease-out infinite alternate;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);

    }

    100% {
        transform: translateY(-150px);

    }
}

.messagetextDisable{

    display: none;
}

.messageBoxDisable{
    transition: 0.3s ease-in;

    position: absolute;
    top:120px;
    right:  50px;
    background-color: #fff;
    border: 2px solid #8A2BE2;
    border-radius: 10px;
    padding: 0px;
    height: 0px;
    text-align: center;
    font-size: 1.4rem;
    color: #8A2BE2;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 0px;
    
}


.messageBox {
    transition: 0.3s;
    position: absolute;
    top: 100px;
    right:  50px;
    background-color: #fff;
    border: 2px solid #8A2BE2;
    border-radius: 10px;
    padding: 15px;
    height: 150px;
    text-align: center;
    font-size: 1.4rem;
    color: #8A2BE2;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
}




.containerRobo {
    display: grid;
    position: relative;
    width: 100%;

}
.characterImage {
    position: absolute;
    top: 100px;
    right: -100px;
    width: 200px;
    height: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #8A2BE2;
}

.chartData{
    overflow: hidden;
}
.chart{
    font-size: 1.9rem;
    font-weight: bold;
    width: 100%; /* Garante que o gráfico ocupe toda a largura disponível */
    max-width: 1200px; /* Defina um limite opcional para telas maiores */
}
.chart1{
    font-weight: bold;
    
    font-size: 1.2rem;
}

  @media(max-width:750px) {
    .emojiWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 350px; /* Altura fixa para o wrapper */
        width: 200%; /* Largura fixa */
        
    }
    
    .emoti {
        display: flex;
        align-items: center;
        
    }
    .bar {
        border-radius: 5px 5px 0 0;
        height: 100px;
        min-width: 100px;
        background-color: #663399;
    }
    
    .bar2 {
    
        height: 150px;
        min-width: 100px;
        background-color: #663399;
    }
    
    .bar3 {
    
        height: 70px;
        min-width: 100px;
        background-color: #663399;
    }
    .containerGraficoEmoti{

        max-width:  100%;
    }
    .containerGrafico{


        background-color: red;

    }
    
  }
  .zeroVoto{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #663399;
    font-size: 35pt;
    transform: translate(-50%,-50%);
  }