.ContainerMain{
    height: 100%;
    justify-content: center;
   
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bubble {
    width: 250px; /* Defina o tamanho da largura conforme necessário */
    height: 150px; /* Defina o tamanho da altura conforme necessário */
    background-color: white;
    border: 3px solid #007bff;
    border-radius: 10px;
    position: relative;
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #007bff;
    position: absolute;
    bottom: -15px;
    left: 20px; /* Ajuste conforme a posição desejada */
  }
  .containerMensagem{
    overflow-y:scroll;
    height: 95%;
    padding: 5px;
    width: 95%;
  }
.conversa{
    font-size:1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
}
.Personagem{
    height: 250px;
    border-radius: 5px;
}
.emocao{
    height: 30px;
}
.selectEmogi{
    margin-top: 50px;
    display: flex;
    height: 100px;

    width: 250px;
    flex-wrap: wrap;
    overflow: auto;

    gap: 25px;
    flex-direction: column;
}
.emoti{
    height: 50px;
}
.btnSub{
    width:250px;
    padding: 15px;
    border: none;
    color: #fff;
    margin-top: 20px;
    font-size: 25px;
    border-radius: 5px;

}
@media(max-width:650px) {
    .bubble {
        width: 350px; 
        height: 200px; }
    .Personagem{height: 350px;}
    .selectEmogi,
    .btnSub{width:350px;}
    
}
@media(max-width:350px) {
    .bubble {
        width: 250px; 
        height: 150px; }
    .Personagem{height: 250px;}
    .selectEmogi,
    .btnSub{width:250px;}
    
}
.emoti {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: border 0.3s ease;
  }
  
  .selected {
    border: 2px solid #123E5F; /* Cor da borda igual à do botão */
    border-radius: 50%;
  }
  .btnSub {
  background-color: #007bff; /* Cor original */
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnSub:disabled {
  cursor: not-allowed;
}

.btnClicked {
  background-color: #fff;
  border: 2px solid #007bff;
  color: #007bff;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-right: 10px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  