.logo{
    position: fixed;
    z-index: 0;
    top:80%;
    left: 98%;
    transform: translate(-50%,-50%);
    opacity: 10%;
    height: 1000px;
}

.Container{
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    margin: 0 auto;

}
.ContainerMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.conversa{
    font-weight: 600;
    font-size: 3rem;
    margin: 30px 0;
    width: 100%;
    text-align: center;
    color: #261738;
}
.selectEmogi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    max-width: 500px;    
    gap: 25px;
    font-size: 1.6rem;
    font-weight: bold;
    
    
}
.containerEmoti{
    padding: 5px;
    display: grid;
    justify-content: center;
    position: relative;
    width: 150px;
    text-align: center;
    color: #261738;
}
.emoti{
    height: 80px;
    border: 1px solid #261738;
    padding: 5px;
    border-radius: 15px;
    
}

.fade{
    border: 4px solid #36c936;
    border-inline: black;
    transition: .4s;
    animation: fade .4s ease-in-out;
    position: relative;
    border-radius: 15px;
  }
  .comemoracao{
    position: absolute;
    top: 0;
    left: 35px;
    height: 50px;
  }
  .comemoracaoFalse{
    display: none;
  }



  @keyframes fade {
      from{
          opacity: 0;
          transform: scale(0.9);
    }
    to{
      opacity: 1;
      transform: scale(1);
    }
}

